@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Advent Pro', sans-serif;;
}

.main {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(62deg, rgba(255,255,255,1) 0%, rgba(160,46,42,1) 0%, rgba(130,14,21,1) 100%);
  background: -webkit-linear-gradient(62deg, rgba(255,255,255,1) 0%, rgba(160,46,42,1) 0%, rgba(130,14,21,1) 100%);
  background: linear-gradient(62deg, rgba(255,255,255,1) 0%, rgba(160,46,42,1) 0%, rgba(130,14,21,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#820e15",GradientType=1);
  clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}

.grad {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(62deg, rgba(255,255,255,1) 0%, rgba(160,46,42,1) 0%, rgba(130,14,21,1) 100%);
  background: -webkit-linear-gradient(62deg, rgba(255,255,255,1) 0%, rgba(160,46,42,1) 0%, rgba(130,14,21,1) 100%);
  background: linear-gradient(62deg, rgba(255,255,255,1) 0%, rgba(160,46,42,1) 0%, rgba(130,14,21,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#820e15",GradientType=1);
}
